html {
    height: 3000px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    font-family: Lato, sans-serif;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

.main_container {
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;  
    align-items: center;
    justify-content: center;
}

.mainText {
    margin: 0;
    margin-top: 200px;
    color: rgb(238, 238, 238);
    font-family: Lato, sans-serif;
    padding-top: 50px;
    position: absolute;
    z-index: 1;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainText > h1 {
    margin: 0;
    font-weight: 300;
    font-size: 60px;
}

.mainText > p {
    margin: 0;
    font-weight: 400;
    padding-top: 40px;
    font-size: 16px;
    color: rgb(199, 199, 199);
}

.mainText > div > a > svg {
    margin-top: 120px;
    transition: color 0.5s;
    animation: bounce 1s infinite linear;
    cursor: pointer;
}

.mainText > div > a > svg:hover {
    color: white;
    animation-play-state: paused;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}



main{
	margin-top: 128px;
}

/* ********Navbar******** */

.nav_wrapper {
    position: relative;
}


html:not([data-scroll='0']) .navflex {
    background-color: #222;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 60px;
}

[data-scroll='0'] .navflex {
    background-color: transparent;
}


.navleftflex > img, .navrightflex > img {
    height: 24px;
    object-fit: contain;
    display: block;
    transition: transform 2s;
    transition-timing-function: ease-out;

}


.navleftflex > img:hover {

    animation: spin 1s infinite linear;

}

@keyframes spin {
    from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navleftflex, .navrightflex {
    padding-top: 5px;
}

.navleftflex > a, .navrightflex > a {
    padding-left: 10px;
    color: rgb(238, 238, 238);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}

.navrightflex {
    padding-right: 60px;
}

.navleftflex, .navrightflex {
    height: 100%;
    padding-left: 50px;
    display: flex;
    background-color: transparent;
    align-items: center;
}

.navrightflex {
    margin-right: auto;
}

.navrightflex > img {
    padding-left: 30px;
    height: 20px;
    padding-top: 2px;
    cursor: pointer;
}

.navrightflex > img:hover {
    animation: grow 1s infinite linear;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    75%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

.navrightflex > a {
    padding-left: 30px;
}





.navflex {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr 500px;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.5s, height 0.5s;
}

.navleftflex:hover, #navAbout:hover, #navGoals:hover, #navProjects:hover, #navContact:hover  {
 opacity: 75%;
 cursor: pointer;
}

.welcome_dim{
    z-index: 200;
    box-shadow: 0px 4px 4px 0px #222;
    width: 100%;
    height: 100%;
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 17%, rgba(0, 0, 0, 0.9) 35%, rgba(0, 0, 0, 0.9) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 17%, rgba(0, 0, 0, 0.9) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 17%, rgba(0, 0, 0, 0.9) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 17%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.6) 62%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
    /* IE6-9 */ 
}


.welcome {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    background-attachment: fixed;
    background-color: #000;
    color: #000;
    background-image: url("./city.jpg");
    background-attachment: fixed;
}

/* ********About******** */

.aboutFlex {
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 150px;

}

.aboutGrid {
    padding-top: 150px;
}

.aboutGrid > div {
    width: 800px;
}

.aboutGrid > div > h5 {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

.aboutGrid > div > p {
    font-family: Roboto Slab, sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.aboutGrid > div > p > a {
    color: rgb(129, 129, 241);
}

.aboutGrid > div > img {
    margin-top: 40px;
    height: auto;
    width: 170px;
}

.TLDRcontainer {
    margin-top: 50px;
    height: 200px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    display: grid;
    background-color: rgb(238, 238, 238);
    border-radius: 10%;
    transition: opacity 0.75s;
}

.TLDRcontainer > p{
    font-family: lato;
    font-weight: 300;
    font-size: 22px;
    color: #525252;
    padding-top: 20px;
    grid-template-columns: 1fr;
}

.TLDRflex > div {
    padding-left: 50px;
    padding-right: 50px;
    color: #9e9e9e;
}

.TLDRflex > div > img {
    height: 70px;
    width: auto;
    filter: brightness(55%);
}

.TLDRflex {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
}

/*Goals*/

.goalsWrapper {
    width: 100%;
    height: 600px;
    background-color: rgb(238, 238, 238);
}

.goalsHeadingFlex {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

.goalsHeadingFlex > p {
    margin-top: 50px;
    margin-bottom: -50px;
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #333333;
}

.goalsImageFlex {
    margin-top: 125px;
    display: flex;
    width: auto;
    height: 200px;
    justify-content: center;
}

.present {
    height: 70px;
    width: 70px;
    padding-top: 20px;
    animation: present 1.5s infinite ease-in-out;
}

@keyframes present {
    20%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
    60%{
        transform: rotate(20deg);
    }
    80%{
        transform: rotate(-20deg);
    }
}

.presentOpen {
    height: 70px;
    width: 70px;
    padding-top: 20px;
    animation: presentOpen 1s 1 ease-in;
}

@keyframes presentOpen {
    20%{
        transform: rotate(30deg);
    }
    40%{
        transform: rotate(-30deg);
    }
    60%{
        transform: rotate(30deg);
    }
    80%{
        transform: rotate(-30deg);
    }
    100%{
        transform: translateY(-20px);
        opacity: 0;
    }
}

.present:hover {
    cursor: pointer;
}

.transparent {
    opacity: 0;
}